
venv/


*.pem
.aws/


__pycache__/
*.pyc


.env
.env.local


.vscode/
.gitignore
.terraform.lock.hcl
.venv


*.tfstate
.terraform/
terraform.tfstate.backup

node_modules/

lambda_deploy/
add_transaction_function/
anomaly_model.pkl
add_transaction_function.zip